﻿
@inject CityPharmacyChainApiWrapper ClientApi
@inject INotificationService NotificationService;

<Modal @ref="PharmacyProductModal">
    <ModalContent Centered>
        <Form>
            <ModalHeader>
                <ModalTitle>Добавление данных о препарате для аптеки</ModalTitle>
                <CloseButton Clicked="ClosePharmacyProductModalAsync" />
            </ModalHeader>

            <ModalBody>
                <Field>
                    <FieldLabel RequiredIndicator>Номер аптеки</FieldLabel>
                    <NumericEdit @bind-Value="@PharmacyNumber" />
                </Field>
                <Field>
                    <FieldLabel RequiredIndicator>Код препарата</FieldLabel>
                    <NumericEdit @bind-Value="@ProductCode" />
                </Field>
                <Field>
                    <FieldLabel RequiredIndicator>Цена препарата, ₽</FieldLabel>
                    <NumericEdit @bind-Value="@NewPharmacyProduct.Price" />
                </Field>
                <Field>
                    <FieldLabel> RequiredIndicatorВ наличии, шт</FieldLabel>
                    <NumericEdit @bind-Value="@NewPharmacyProduct.Count" />
                </Field>
            </ModalBody>

            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="ClosePharmacyProductModalAsync">Отмена</Button>
                <Button Color="Color.Primary" Clicked="CreatePharmacyProductAsync">Создать</Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@code {
    /// <summary>
    /// Идентификатор связи препарат-аптека
    /// </summary>
    [Parameter]
    public int? PharmacyProductId { get; set; }

    /// <summary>
    /// Пробрасываемое событие для оповещения родительского компонента об изменении данных
    /// </summary>
    [Parameter]
    public EventCallback OnPharmacyProductAdded { get; set; }

    /// <summary>
    /// Номер аптеки для получения по нему PharmacyId
    /// </summary>
    private int PharmacyNumber { get; set; }

    /// <summary>
    /// Код препарата для получения по нему ProductId
    /// </summary>
    private int ProductCode { get; set; }

    /// <summary>
    /// Модальное окно для сущности класса связь препарат-аптека
    /// </summary>
    private Modal PharmacyProductModal { get; set; } = new();

    /// <summary>
    /// Добавляемая сущность класса связь препарат-аптека
    /// </summary>
    private PharmacyProductDto NewPharmacyProduct { get; set; } = new();

    /// <summary>
    /// Переопределение метода OnInitializedAsync
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    /// <summary>
    /// Метод открывает модальное окно
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    public async Task Show() => await PharmacyProductModal.Show();

    /// <summary>
    /// Метод закрывает модальное окно
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task ClosePharmacyProductModalAsync() => await PharmacyProductModal.Hide();

    /// <summary>
    /// Метод добавляет к данным на сервере новую сущность класса связь препарат-аптека
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task CreatePharmacyProductAsync()
    {
        var products = (await ClientApi.ProductGetAll()).ToList();
        var pharmacies = (await ClientApi.PharmacyGetAll()).ToList();
        var success = false;
        foreach (var product in products)
        {
            if (product.ProductCode == ProductCode)
            {
                foreach (var pharmacy in pharmacies)
                {
                    if (pharmacy.PharmacyNumber == PharmacyNumber)
                    {
                        success = true;
                        NewPharmacyProduct.PharmacyId = pharmacy.PharmacyId;
                        NewPharmacyProduct.ProductId = product.ProductId;
                        _ = await ClientApi.PharmacyProductPost(NewPharmacyProduct);
                    }
                }
            }
        }
        if (!success)
            await NotificationService.Warning("Неверно введённые данные", "Препарат или аптека не найдены.");
        await PharmacyProductModal.Hide();
        await OnPharmacyProductAdded.InvokeAsync();
    }
}

