<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Навигация</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-filetype-cs" aria-hidden="true"></span> Главная страница
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pharmacy">
                <span class="bi bi-shield-fill-plus" aria-hidden="true"></span> Аптеки
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="product">
                <span class="bi bi-capsule" aria-hidden="true"></span> Препараты
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pharmaceutical-group">
                <span class="bi bi-bookmark-plus" aria-hidden="true"></span> Фармацевтические группы
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pharmacy-product">
                <span class="bi bi-tag" aria-hidden="true"></span> Цены на препараты
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="price-list-entry">
                <span class="bi bi-card-list" aria-hidden="true"></span> Прайс-лист
            </NavLink>
        </div>
    </nav>
</div>

@code {
    /// <summary>
    /// Необходимо ли сворачивать навигационное меню
    /// </summary>
    private bool collapseNavMenu = true;

    /// <summary>
    /// Используемый класс для навигационного меню
    /// </summary>
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    /// <summary>
    /// Изменить состояние навигационного меню
    /// </summary>
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
