﻿
@page "/product/{Id}"

@inject CityPharmacyChainApiWrapper ClientApi
@inject IJSRuntime JsRuntime

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h4>Изменить информацию о препарате</h4>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary" Clicked="UpdateProductAsync">
                    Сохранить
                </Button>
                <Button Color="Color.Danger" Clicked="DeleteProductAsync">
                    Удалить
                </Button>
                <Button Color="Color.Secondary" onclick="history.back();">
                    Закрыть
                </Button>
            </Column>
        </Row>
    </CardHeader>

    <CardBody>
        <Field>
            <FieldLabel>Код</FieldLabel>
            <NumericEdit @bind-Value="@UpdatedProduct.ProductCode" />
        </Field>
        <Field>
            <FieldLabel>Название</FieldLabel>
            <TextEdit @bind-Text="@UpdatedProduct.Name" />
        </Field>
        <Field>
            <FieldLabel>товарная группа</FieldLabel>
            <TextEdit @bind-Text="@UpdatedProduct.ProductGroup" />
        </Field>
    </CardBody>
</Card>

<ProductDataGrid ProductId="@ProductId" />

@code {
    /// <summary>
    /// Идентификатор препарата (строка)
    /// </summary>
    [Parameter] 
    public string Id { get; set; } = "";

    /// <summary>
    /// Идентификатор препарата (число)
    /// </summary>
    private int ProductId { get; set; }

    /// <summary>
    /// Обновлённая сущность класса препарат
    /// </summary>
    private ProductDto UpdatedProduct { get; set; } = new();

    /// <summary>
    /// Переопределение метода OnInitializedAsync
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    protected override async Task OnInitializedAsync()
    {
        if (!int.TryParse(Id, out var id))
            throw new Exception("Некорректный идентификатор препарата");
        ProductId = id;
        UpdatedProduct = await ClientApi.ProductGetById(ProductId);
        await base.OnInitializedAsync();
    }

    /// <summary>
    /// Метод удаляет с сервера сущность класса препарат
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task DeleteProductAsync()
    {
        await ClientApi.ProductDelete(ProductId);
        await JsRuntime.InvokeVoidAsync("history.back");
    }

    /// <summary>
    /// Метод модифицирует на сервере сущность класса препарат
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task UpdateProductAsync()
    {
        var EditedProduct = new ProductDto
        {
            ProductCode = UpdatedProduct.ProductCode,
            Name = UpdatedProduct.Name,
            ProductGroup = UpdatedProduct.ProductGroup,
        };
        var updatedProduct = await ClientApi.ProductPut(ProductId, EditedProduct);
        UpdatedProduct.ProductCode = updatedProduct.ProductCode;
        UpdatedProduct.Name = updatedProduct.Name;
        UpdatedProduct.ProductGroup = updatedProduct.ProductGroup;
        await JsRuntime.InvokeVoidAsync("history.back");
    }
}
