﻿
@page "/pharmacy-product/{Id}"

@inject CityPharmacyChainApiWrapper ClientApi
@inject IJSRuntime JsRuntime

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h4>Изменить информацию о препарате в аптеке</h4>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary" Clicked="UpdatePharmacyProductAsync">
                    Сохранить
                </Button>
                <Button Color="Color.Danger" Clicked="DeletePharmacyProductAsync">
                    Удалить
                </Button>
                <Button Color="Color.Secondary" onclick="history.back();">
                    Закрыть
                </Button>
            </Column>
        </Row>
    </CardHeader>

    <CardBody>
        <Field>
            <FieldLabel>Цена препарата, ₽</FieldLabel>
            <NumericEdit @bind-Value="@UpdatedPharmacyProduct.Price" />
        </Field>
        <Field>
            <FieldLabel>В наличии, шт</FieldLabel>
            <NumericEdit @bind-Value="@UpdatedPharmacyProduct.Count" />
        </Field>
    </CardBody>
</Card>

<PharmacyProductDataGrid PharmacyProductId="@PharmacyProductId" />

@code {
    /// <summary>
    /// Идентификатор связи препарат-аптека (строка)
    /// </summary>
    [Parameter] 
    public string Id { get; set; } = "";

    /// <summary>
    /// Идентификатор связи препарат-аптека (число)
    /// </summary>
    private int PharmacyProductId { get; set; }

    /// <summary>
    /// Обновлённая сущность класса связь препарат-аптека
    /// </summary>
    private PharmacyProductDto UpdatedPharmacyProduct { get; set; } = new();

    /// <summary>
    /// Переопределение метода OnInitializedAsync
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    protected override async Task OnInitializedAsync()
    {
        if (!int.TryParse(Id, out var id))
            throw new Exception("Некорректный идентификатор связи препарат-аптека");
        PharmacyProductId = id;
        UpdatedPharmacyProduct = await ClientApi.PharmacyProductGetById(PharmacyProductId);
        await base.OnInitializedAsync();
    }

    /// <summary>
    /// Метод удаляет с сервера сущность класса связь препарат-аптека
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task DeletePharmacyProductAsync()
    {
        await ClientApi.PharmacyProductDelete(PharmacyProductId);
        await JsRuntime.InvokeVoidAsync("history.back");
    }

    /// <summary>
    /// Метод модифицирует на сервере сущность класса связь препарат-аптека
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task UpdatePharmacyProductAsync()
    {
        var editedPharmacyProduct = new PharmacyProductDto
        {
            PharmacyId = UpdatedPharmacyProduct.PharmacyId,
            ProductId = UpdatedPharmacyProduct.ProductId,
            Price = UpdatedPharmacyProduct.Price,
            Count = UpdatedPharmacyProduct.Count,
        };
        var updatedPharmacyProduct = await ClientApi.PharmacyProductPut(PharmacyProductId, editedPharmacyProduct);
        UpdatedPharmacyProduct.PharmacyId = updatedPharmacyProduct.PharmacyId;
        UpdatedPharmacyProduct.ProductId = updatedPharmacyProduct.ProductId;
        UpdatedPharmacyProduct.Price = updatedPharmacyProduct.Price;
        UpdatedPharmacyProduct.Count = updatedPharmacyProduct.Count;
        await JsRuntime.InvokeVoidAsync("history.back");
    }
}
