﻿
@page "/pharmaceutical-group/{Id}"

@inject CityPharmacyChainApiWrapper ClientApi
@inject IJSRuntime JsRuntime

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h4>Изменить информацию о фармацевтической группе для препарата</h4>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary" Clicked="UpdatePharmaceuticalGroupAsync">
                    Сохранить
                </Button>
                <Button Color="Color.Danger" Clicked="DeletePharmaceuticalGroupAsync">
                    Удалить
                </Button>
                <Button Color="Color.Secondary" onclick="history.back();">
                    Закрыть
                </Button>
            </Column>
        </Row>
    </CardHeader>

    <CardBody>
        <Field>
            <FieldLabel>Название фармацевтической группы</FieldLabel>
            <TextEdit @bind-Text="@UpdatedPharmaceuticalGroup.Name" />
        </Field>
    </CardBody>
</Card>

<PharmaceuticalGroupDataGrid PharmaceuticalGroupId="@PharmaceuticalGroupId" />

@code {
    /// <summary>
    /// Идентификатор фармацевтической группы (строка)
    /// </summary>
    [Parameter] 
    public string Id { get; set; } = "";

    /// <summary>
    /// Идентификатор фармацевтической группы (число)
    /// </summary>
    private int PharmaceuticalGroupId { get; set; }

    /// <summary>
    /// Обновлённая сущность класса фармацевтическая группа
    /// </summary>
    private PharmaceuticalGroupDto UpdatedPharmaceuticalGroup { get; set; } = new();

    /// <summary>
    /// Переопределение метода OnInitializedAsync
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    protected override async Task OnInitializedAsync()
    {
        if (!int.TryParse(Id, out var id))
            throw new Exception("Некорректный идентификатор фармацевтической группы");
        PharmaceuticalGroupId = id;
        UpdatedPharmaceuticalGroup = await ClientApi.PharmaceuticalGroupGetById(PharmaceuticalGroupId);
        await base.OnInitializedAsync();
    }
    /// <summary>
    /// Метод удаляет с сервера сущность класса фармацевтическая группа
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task DeletePharmaceuticalGroupAsync()
    {
        await ClientApi.PharmaceuticalGroupDelete(PharmaceuticalGroupId);
        await JsRuntime.InvokeVoidAsync("history.back");
    }

    /// <summary>
    /// Метод модифицирует на сервере сущность класса фармацевтическая группа
    /// </summary>
    /// <returns>Асинхронная задача</returns>
    private async Task UpdatePharmaceuticalGroupAsync()
    {
        var EditedProduct = new PharmaceuticalGroupDto
        {
            Name = UpdatedPharmaceuticalGroup.Name,
            ProductId = UpdatedPharmaceuticalGroup.ProductId,
        };
        var updatedProduct = await ClientApi.PharmaceuticalGroupPut(PharmaceuticalGroupId, EditedProduct);
        UpdatedPharmaceuticalGroup.Name = updatedProduct.Name;
        UpdatedPharmaceuticalGroup.ProductId = updatedProduct.ProductId;
        await JsRuntime.InvokeVoidAsync("history.back");
    }
}
