@page "/"

<PageTitle>Аптекарская сеть</PageTitle>

<h2 class="text-center mb-5">Городская аптекарская сеть</h2>

<ul class="text-center" style="list-style: none;">
	<li>Ссылка на исходные файлы проекта - <a href="https://github.com/Tomashaytis/city-pharmacy-chain">GitHub</a></li>
	<li>Использованная библиотека компонентов - <a href="https://blazorise.com/docs">Blazorise</a></li>
	<li>Использованный css фреймворк - <a href="https://bootstrap5demo.blazorise.com/">Bootstrap 5</a></li>
</ul>

