@page "/table"

<PageTitle>Table</PageTitle>

<h3>table</h3>

<TableGrid HeaderCells="@headerCells" Rows="@rows"/>

@code {


    List<string> headerCells = ["First name", "Second name", "Id"];

    List<List<string>> rows = [
        ["Pavel", "Tomashaytis", "2005"],
        ["Sergey", "Linev", "2006"],
    ];



}